Thumbs.db

# Job specific
imgs/cmpr/
jobs/

# latex processing files
latex/*.aux
latex/*.fdb_latexmk
latex/*.fls
latex/*.log
latex/*.synctex.gz
latex/*.xdv
latex/*.out

# working copies of resume, CL
latex/resume.pdf
latex/coverletter*.pdf
latex/coverletter*.text
